*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f7f7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


header{
    display: flex;
    padding: 25px;
    padding-top: 30px;
}

.logo{
    margin-right: 20%;
    margin-left: 10px;
    border-bottom: solid #302f3d 2px;
    width: 30%;
}

header .header-section{
    display: flex;
    justify-content: flex-end;
    justify-self: flex-end;
}

header .header-section div{
    display: flex;
}

header .header-section div .item{
    display: flex;
    color: #302f3d;
    font-size: 18px;
    font-weight: 600;
    margin-top: 16px;
    margin-right: 50px;
}

.header-section .item:hover{
    color: #b6a56d;
   
}

.header-section .item:active{
    color: #72718a;   
}

.principal-main-section{
    display: flex;
}

.right-main-section{
    width: 30%;
    margin-left: 50px;
    margin-top: 20px;
}

.tittle{
    color: #292935;
    padding: 30px;
    margin-left: -30px;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.right-main-section h4{
    color: #9c9c9c;
    font-size: 14px;
    word-spacing: 10px;
}

.left-main-section img{
    width: 98%;
}

a{
    text-decoration: none;
}

.button{
    border-radius: 4px;
    height: 1px;
    width: 50%;
    font-size: 18px;
    font-weight: 500;   
    margin-top: 20px;
    color: white;
    background-color: #302f3d;
}

.style{
    border-top: 2px solid #302f3d;
    width: 70%;
    margin-top: 10%;
    margin-left: 10%;
}

.button:hover{
    color: #b6a56d; 
}

.button:active{
    background-color: #737094;
}

.logo img{
    width: 100%;
}

.below-info-section{
    display: flex;
}

.below-info-section .right-info h1{
    font-size: 50px;
    margin-left: 15%;
    color: #292935;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: solid 2px #444444;
}

.below-info-section .right-info h3{
    color: #4e4e4e;
    font-size: 35px;
}

.below-info-section .right-info{
    color: #9c9c9c;
    font-size: 24px;
    margin-right: 20px;
    margin-left: -15%;
    margin-top: 20px;
    border-left: solid #302f3d;
    padding: 30px;
    margin: auto;
}

.below-info-section .left-info img{
    width: 90%;
}

.footer{
    margin-top: 10%;   
    height: 20%;
    display: flex;
}

footer .right-footer-section{
    background: #302f3d;
    padding: 2%;
    color: white;
    font-size: 10px;
}

footer .left-footer-section{
    color: white;   
    background: #302f3d;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
}

#boton{
    border: none;
    border-radius: 4px;
    font-size: 21px;
    color: #9c9c9c;
    background-color: #292935;
    padding: 15px 25px;
    cursor: pointer;
    margin-left: 36%;
}

#boton:active{
    background-color: #9c9c9c;
    color: #292935;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #292935; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: 40%;
    margin-top: 20%;
    margin-bottom: -40%;
  }

@media screen and (min-width: 780px) and (max-width:1024px) {
      
}
@media screen and (min-width: 600px) and (max-width:780px) {
    .principal-main-section{
        display: block;
    }
    .logo{
        margin-right: 5%;
    }

    .header-section .item{
        margin-right: 20px;
        font-size: 17px;
    }

    .logo img{
        width: 200px;
    }

    .right-main-section{
        /* position: absolute; */
        width: 100%;
        padding-right: 10%;
        
    }

    .tittle{
        font-size: 50px;
        text-align: center;
    }

    .left-main-section{
        width: 85%;
        margin-left: 10%;

    }

    .left-info img{
        display: none;

    }
    .header-section{
        margin-left: 0;
        padding-left: 0;
    }

    .right-info{
        display: block;
        width: 100%;
    }

    .below-info-section .right-info h1{
        font-size: 35px;
        text-align: center;
        margin-left: -2%;
    }


    .below-info-section .right-info h3{
        text-align: center;

    }

    .below-info-section .right-info h4{
        margin-left: 10%;

    }

    
      
}
@media screen and (min-width: 480px) and (max-width: 600px){
    /* body{
        overflow-x: hidden;
    } */

    .principal-main-section{
        display: block;
    }

    .logo img{
        width: 200px;
        margin-right: 0;
        margin-top: 20%;
    }

    .logo{
        margin-right: 0;
        padding-right: 0;
    }

    .right-main-section{
        /* position: absolute; */
        width: 100%;
        padding-right: 15%;
        
    }

    .tittle{
        font-size: 50px;
        text-align: center;
    }

    .left-main-section{
        width: 85%;
        margin-left: 7%;

    }

    .left-info img{
        display: none;

    }

    .right-info{
        display: block;
        width: 100%;
    }

    .below-info-section .right-info h1{
        font-size: 35px;
        text-align: center;
        margin-left: -2%;
    }


    .below-info-section .right-info h3{
        text-align: center;

    }

    .below-info-section .right-info h4{
        margin-left: 10%;
    }

    .header-section #links-container{
        height: 100%;
        width: 100%;
        align-items: center;
        position: fixed;
        background: rgb(206, 206, 206);
        display: block;
        left: 105%;
    }

    .header-section #links-container .item{
        background: rgb(206, 206, 206);
        bottom: 50%;
        font-size: 50px;
        margin-left: 25%;
    }
    
    #toggle-btn{
        display: block;
        position: absolute;
        left:80%;
        top: 5%;
    }
    #toggle-btn-two{
        background: rgb(206, 206, 206);
        display: block;
        position: absolute;
        left:80%;
        top: 5%;
    }

    .header-section #toggle-btn span{
        background: black;
        display: block;
        width: 30px;
        height: 5px;
        margin: 3px;
    }
    .header-section #toggle-btn-two span{       
        background: black;
        display: block;
        width: 30px;
        height: 5px;
        margin: 3px;
    }

    .header-section #links-container.active{
        display: block;
        left:0;
    }
    header .header-section div .item{
        margin-top: 10%;
    }
    
    header{
        padding-top: 0%;
    }
}    

@media screen and (min-width: 280px) and (max-width: 480){

}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

  
